@font-face {
    font-family: 'BarlowCondensed';
    src: url('BarlowCondensed-Regular.ttf') format("truetype");
  }
  
  .font-theme {
    font-family: 'BarlowCondensed', Arial, sans-serif;
  }
  
  