{
  "plugins": [
    "syntax-dynamic-import",
    "transform-vue-jsx",
    [
      "import",
      {
        "libraryName": "ant-design-vue",
        "libraryDirectory": "lib",
        "style": true
      }
    ]
  ]
}
