.nice-tips,
.nice-tips-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.nice-tips {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.nice-tips-open {
    z-index: 1031;

    .nice-tips-overlay {
        opacity: 1;
        pointer-events: auto;
    }
}

.nice-tips-overlay {
    position: absolute;
    background: rgba(120, 129, 147, .22);
    opacity: 0;
    transition: opacity .3s;
    transition-duration: .3s;
}

@supports (-webkit-backdrop-filter:blur(10px)) or (backdrop-filter:blur(10px)) {
    .nice-tips-open {
        .nice-tips-overlay {
            backdrop-filter: blur(10px);
        }
    }
}

.nice-tips-body {
    position: relative;
    opacity: 0;
    max-width: 340px;
    width: 100%;
}

.nice-tips-open {
    .nice-tips-body {
        pointer-events: auto;
    }
}

.nice-tips-xl {
    .nice-tips-body {
        width: 100%;
        max-width: 790px;
    }

    .nice-tips-content {
        padding: 0;
        border: 0;
    }
}

.nice-tips-lg {
    .nice-tips-body {
        width: 100%;
        max-width: 790px;
    }

    .nice-tips-content {
        padding: 0;
        border: 0;
        border-radius: 0;
    }
}

.nice-tips-md {
    .nice-tips-body {
        max-width: 340px;
        width: 100%;
    }
}

.nice-tips-sm {
    .nice-tips-body {
        max-width: 300px;
        width: auto;
    }

    .nice-tips-content {
        padding: 2rem;
        padding: 1.75rem 2.5rem;
    }
}

.nice-tips-content {
    background: #fff;
    padding: 1.25rem;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #f4f5f9;
    box-shadow: 0 10px 50px -5px rgba(6, 39, 67, 0.12);
}

.nice-tips-nopd {
    .nice-tips-content {
        padding: 0;
        border: 0;
    }
}

@media (max-width:991.98px) {
    .nice-tips-xl {
        .nice-tips-body {
            height: 100%;

            .nice-tips-content {
                box-shadow: none;
                border-radius: 0;
                height: 100%;
            }
        }

        .btn-close-tips {
            transform: translateY(-50%);

            svg {
                path {
                    fill: #888;
                }
            }
        }
    }
}

/*--------------------------------------------------------------
    tips
--------------------------------------------------------------*/
.nice-tips-content {
    .text-success {
        svg {
            path {
                fill: #28a745;
            }
        }
    }

    .text-danger {
        svg {
            path {
                fill: #ffc107;
            }
        }
    }
}

.btn-close-tips {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 44;
    cursor: pointer;
    transform: translateY(150%);
    text-align: center;

    svg {
        path {
            fill: #fff;
        }
    }
}

/*--------------------------------------------------------------
    tips animation
--------------------------------------------------------------*/
.nice-tips.nice-tips-open .nice-tips-body,
.nice-tips.nice-tips-close .nice-tips-body {
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.nice-tips {
    &.nice-tips-open {
        .nice-tips-body {
            animation-name: tips-open;
        }
    }

    &.nice-tips-close {
        .nice-tips-body {
            animation-name: tips-close;
        }
    }
}

@-webkit-keyframes tips-open {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@keyframes tips-open {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

}

@-webkit-keyframes tips-close {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0)
    }

}

@keyframes tips-close {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }

}

/*
   post cover style
*/
.nice-tips-cover {
    .nice-tips-overlay {
        background: rgb(120, 129, 147);
    }
}

.tips-content-cover {
    max-width: 340px;
    width: 100%;
    padding: 0;
    border: 0;
    border-radius: .22rem;
}

.cover-image {
    position: relative;
    overflow: hidden;
    border-radius: .22rem .22rem 0 0;
    padding: 0;
}

.cover-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    z-index: -1;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .11;
    }
}

.cover-share {
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #f4f6f9;

    a {
        color: #8a92a9;
        padding: .25rem;
        margin: .25rem;
        font-size: 1.125rem;

        &:hover {
            color: #062743;
        }
    }
}

.cover-text {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 44;
    cursor: pointer;
    transform: translateY(-36px);
    text-align: center;
    color: #fff;
    font-size: .875rem;
}
